APP_NAME=miso-travelhub-service-payments
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

CORS_ORIGINS=["http://localhost:3000"]

# Kafka broker (corre en una VM de GCP)
KAFKA_ENABLED=false
KAFKA_BOOTSTRAP_SERVERS=10.x.x.x:9092
KAFKA_TOPIC=payments-events
KAFKA_CLIENT_ID=miso-travelhub-service-payments
KAFKA_ACKS=all
KAFKA_REQUEST_TIMEOUT_MS=10000
# PLAINTEXT | SSL | SASL_PLAINTEXT | SASL_SSL
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
# Solo si KAFKA_SECURITY_PROTOCOL incluye SASL:
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
