APP_NAME=miso-travelhub-service-payments
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

CORS_ORIGINS=["http://localhost:3000"]

GCP_TASKS_ENABLED=false
GCP_PROJECT_ID=
GCP_LOCATION=us-central1
GCP_TASKS_QUEUE=payments-queue
GCP_TASKS_TARGET_URL=
GCP_TASKS_SERVICE_ACCOUNT_EMAIL=
